body{
    background-color: bisque;
    text-align: center;
    font-family: 'Staatliches',cursive;
}

h1{
    font-size: 50pt;
}

p{
    font-size: 20pt;
}

.red-text {
    color:red;
}

#name {
    font-size: 75pt;
    color: royalblue;
}